body

{color:rgb(149, 149, 150);font-family: 'Times New Roman', Times, serif;font-size:25px;margin:0;padding:0}
#cabecera h1{font-size:25px;color: rgb(57, 57, 75);}
{color:rgb(129, 8, 18);font-family:arial;font-size:25px;margin:0;padding:0}
#cabecera h1{font-size:25px;color: rgb(2, 2, 136);}
#container{width:70%;padding:1em;text-align:center;border:1px solid #ddd;margin:0 auto}
#container h1{font-size:20px}